body{
    margin: 0;
    padding: 0;
   
    display: flex;
    justify-content: center;
    margin-top: 300px;
    color: black;
}

.tengah{
    border: 10px solid grey;
    border-radius: 20px;
    padding: 20px;
    align-items: center;
    background-color: gray;
}



.tengah h1{
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bolder;

}

.tengah .input{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    
}

.bentuk{
    text-align: center;
}

.input .bentuk{
    border-radius: 20px;
    padding: 5px;
}

.btn{
    border: 10px solid black ;
   color: white;
    border-radius: 20px;
    background-color: black;
    width: 150px;
}

.btn a{
     text-decoration: none;
     color: white;
    list-style:none;
}


